.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Change background color of the whole page */
  padding-top: 20px; /* Add some padding to the top */
}

.header {
  background-color: #007bff; /* Change background color of the header */
  color: #fff; /* Change text color of the header */
  padding: 20px 0; /* Add padding to the header */
  margin-bottom: 20px; /* Add margin at the bottom of the header */
}

.container {
  margin: 0 auto;
  width: 50%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff; /* Change background color of the container */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-input {
  width: calc(70% - 12px);
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-btn:hover {
  background-color: #0056b3;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.task-item.complete {
  text-decoration: line-through;
  color: #aaa;
}

.task-btn {
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.task-btn:hover {
  color: #0056b3;
}
